<h1>Leaderboard</h1>

<div class = "container col-md-10 text-center">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Recycled</th>
      </tr>
    </thead>

    <tbody>
      <% @count = 1 %>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= @count %></td>
          <td><%= user.first_name %> <%= user.last_name %></td>
          <% if user.waste.nil? %>
          <% else %>
            <td><%= user.waste.round(1) %> kg</td>
          <% end %>
          <% @count += 1 %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
