<h1>Machine Locator</h1>

<img src="http://soileiragusgonta.com/wp-content/uploads/2018/04/g-map-15-ng2-npm.png" style="width: 100vw;">
<div align = "center">
<h2>Locations</h2>
<li>
    <ol>
        Times Square Miri
    </ol>
    <ol>
        Bintang Megamall
    </ol>
</li>

<h2>Your QR Code</h2>
<div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/220px-QR_code_for_mobile_English_Wikipedia.svg.png" style="size: 50vw">
</div>

Use this QR code on our reverse vending machine in order to earn your reward points!